<form asp-action="Search" method="post">
    keyword:
    <input type="text" name="keyword" />
    <br />
    Product:
    <input type="number" name="productId" />
    <br />
    <input type="submit" value="search" />
</form>